<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alphabetical Quiz</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/alphabetical_style.css') }}">
</head>

<body>

    <!-- HTML -->
    <div class="container">
        <div class="bg-container p-4 rounded shadow-md">

            <h2 class="quiz-title text-2xl font-bold mb-4 text-center">Alphabetical Quiz</h2>

            <!-- Display the question number counter with CSS styles -->
            <div id="counter" class="counter">1/10</div>
            
            <img src="{{ url_for('static', filename='images/background/audio.png') }}" alt="Speaker Icon"
                class="speaker-icon">

            <h3 class="mb-4" id="questionText"></h3>

            <div class="canvas-container">
                <canvas id="canvas"></canvas>
            </div>


            <div class="text-center mt-4">
                <button id="prevBtn" class="btn btn-secondary mr-2">Previous</button>
                <button id="submitBtn" class="btn btn-primary mr-2">Submit</button>
                <button id="nextBtn" class="btn btn-secondary">Next</button>
                <button id="clearBtn" class="btn btn-danger">Clear</button>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="{{ url_for('static', filename='script/alphabetical_script.js') }}"></script>
</body>

</html>