<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dyslexia</title>
    <link rel="icon" type="image/png" href="favicon.ico">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body class="bg-gray-200 h-screen flex items-center justify-center">


    <div class="w-1/2 pl-2 mb-20 mx-auto">
        <div class="bg-white p-10 rounded shadow-md">

            <h2 class="text-4xl font-semibold mb-20 text-center">Diagnosing Dyslexia Disease</h2>

            <div class="flex">
                <!-- Card 1: Alphabetical Quizzes -->
                <div class="w-1/2 pr-6">
                    <div class="bg-blue-200 p-6 rounded shadow-md">
                        <h3 class="text-xl font-semibold mb-2">Alphabetical Quiz</h3>
                        <p class="text-lg text-gray-700">Take quizzes based on alphabetical order.</p>
                        <button class="mt-4 bg-blue-600 text-white px-4 py-2 rounded">Start Quiz</button>
                    </div>
                </div>

                <!-- Card 2: Word Quiz -->
                <div class="w-1/2 pl-6">
                    <div class="bg-green-200 p-6 rounded shadow-md">
                        <h3 class="text-xl font-semibold mb-2">Word Quiz</h3>
                        <p class="text-lg text-gray-700">Take quizzes based on words.</p>
                        <button class="mt-4 bg-green-600 text-white px-4 py-2 rounded">Start Quiz</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script/home.js') }}" async defer></script>
</body>

</html>